/* Color pallettes
#wrapper - #B5BEC6
body background - #C7DBE6

*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  color: black;
  line-height: 1.5em;
  background-color: #c7dbe6;
}

#wrapper {
  width: 1000px;
  margin-left: 100px;
  margin-right: auto;
  background-color: #b5bec6;
  box-shadow: 13px 13px 35px 7px rgba(0, 0, 0, 0.75);
}

.top {
  border-bottom: black;
}

.left {
  float: left;
  width: 200px;
}

.mainA {
  width: 380px;
  float: left;
}

.mainB {
  width: 380px;
  float: right;
  padding: 15px;
}

.bottom {
  clear: both;
  width: 90%;
  padding-left: 15px;
  padding-bottom: 15px;
}

ul {
  list-style-type: none;
}

a {
  line-height: 1.6;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

a:hover {
  color: black;
  text-decoration: underline;
  font-size: 1em;
}

img {
  border: black 1px solid;
}
